@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.about-trendingoutfitscom5,
.service5 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.service5 {
  bottom: 75.6px;
  left: 531.1px;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  width: 102.1px;
  height: 26.7px;
}
.about-trendingoutfitscom5 {
  bottom: 31.5px;
  left: 768.3px;
  width: 253.8px;
  height: 21.9px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.instagram5,
.privacy-policy5,
.products5,
.support5 {
  position: absolute;
  bottom: 35.9px;
  left: 531.1px;
  text-transform: capitalize;
  display: inline-block;
  width: 130.9px;
  height: 21.9px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.instagram5,
.privacy-policy5,
.support5 {
  bottom: 26.1px;
  left: 1098.9px;
  width: 108.4px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.privacy-policy5,
.support5 {
  bottom: 0.1px;
  left: 768.3px;
  width: 247.8px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.support5 {
  bottom: 0;
  left: 532.1px;
  width: 117px;
}
.facebook5,
.follow-us-on5,
.support5 {
  bottom: 0.1px;
  left: 1099.4px;
  width: 80.3px;
}
.follow-us-on5,
.support5 {
  bottom: 75.3px;
  left: 768.3px;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  width: 126.9px;
  height: 26.7px;
}
.follow-us-on5 {
  bottom: 75.6px;
  left: 1098.9px;
  width: 180.4px;
}
.frame-child21 {
  position: absolute;
  bottom: 84.8px;
  left: -0.5px;
  border-top: 1px solid var(--color-silver-300);
  box-sizing: border-box;
  width: 1428.5px;
  height: 1px;
}
.trendingoutfits9 {
  position: absolute;
  top: 47.7px;
  left: 109px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-indianred-100);
  text-align: center;
  width: 198px;
  height: 30px;
}
.image-21-icon5,
.service-parent2 {
  position: absolute;
  top: 57.3px;
  left: 0;
  width: 1427.5px;
  height: 142.6px;
}
.image-21-icon5 {
  top: 91.5px;
  left: 47px;
  width: 88px;
  height: 76.9px;
  object-fit: cover;
  mix-blend-mode: linear-burn;
}
.footer5 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 324px;
}
.log-in-child1,
.log-in-child2,
.log-in-inner,
.log-in-item {
  border: 4.2px solid var(--color-black);
  outline: 0;
  font-family: var(--font-podkova);
  font-size: var(--font-size-mid);
  background-color: var(--color-white);
  position: absolute;
  left: 23.7px;
  box-sizing: border-box;
  width: 294.2px;
  color: var(--color-black);
}
.log-in-item {
  top: 214.5px;
  height: 51.6px;
  padding: 16.09999999999991px 16.199999999999818px var(--padding-base-2);
}
.log-in-child1,
.log-in-child2,
.log-in-inner {
  top: 356.1px;
  height: 56.8px;
  padding: 17.5px 12.800000000000182px 15.299999999999955px;
}
.log-in-child1,
.log-in-child2 {
  top: 429.9px;
  height: 173px;
  padding: 21.199999999999818px 16.199999999999818px 99.70000000000019px;
}
.log-in-child2 {
  top: 283.2px;
  height: 56.8px;
  padding: 17.799999999999955px 16.199999999999818px 17.8px;
}
.conatct {
  position: absolute;
  top: 132.3px;
  left: 60.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210.3px;
  height: 54.3px;
}
.submit {
  position: absolute;
  top: 13.6px;
  left: 32.2px;
  font-size: 20.4px;
  font-weight: 600;
  font-family: var(--font-podkova);
  color: var(--color-black);
  text-align: center;
}
.submit-wrapper {
  cursor: pointer;
  border: 4.2px solid var(--color-black);
  padding: 0;
  background-color: var(--color-mistyrose-100);
  position: absolute;
  top: 647.8px;
  left: 95.8px;
  border-radius: 38.16px;
  box-sizing: border-box;
  width: 131.8px;
  height: 50.1px;
  transform: rotate(-0.58deg);
  transform-origin: 0 0;
}
.submit-wrapper:hover {
  background-color: #d98989;
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.timing-10am-to {
  position: absolute;
  top: 727.5px;
  left: 71.2px;
  font-size: var(--font-size-mid);
  font-family: var(--font-podkova);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 293.4px;
}
.log-in3,
.saly-33-icon {
  position: absolute;
  top: 132px;
  left: 856px;
  width: 342px;
  height: 791px;
  overflow: hidden;
}
.saly-33-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.saly-33 {
  position: absolute;
  top: 34.6px;
  left: 933.2px;
  width: 192.8px;
  height: 207.9px;
}
.unsplashrok4vsms3ck-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 823.1px;
  height: 909.7px;
  object-fit: cover;
}
.group-child29 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 890.3px;
  height: 910px;
}
.st-fashion-brand,
.trendingoutfitscom {
  position: absolute;
  top: 217.6px;
  left: 2.6px;
  display: flex;
  align-items: center;
  width: 469.7px;
  height: 33.3px;
}
.st-fashion-brand {
  top: 0;
  left: 0;
  font-size: 33.9px;
  font-weight: 800;
  height: 300.7px;
}
.saly-33-parent,
.trendingoutfitscom-parent {
  position: absolute;
  top: 297.4px;
  left: 68.8px;
  width: 531.9px;
  height: 315.2px;
}
.saly-33-parent {
  top: 0;
  left: 0;
  width: 1126px;
  height: 910px;
  text-align: left;
  font-size: 21.2px;
  color: var(--color-white);
  font-family: var(--font-mulish);
}
.frame15,
.log-in2 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.log-in2 {
  top: 0;
  background-color: var(--color-white);
  width: 1255px;
  height: 923px;
  text-align: center;
  font-size: 30.5px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame15 {
  top: 180px;
  width: 1315px;
  height: 1270px;
}
.nav-child7 {
  border: 0.2px solid var(--color-black);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: var(--color-mistyrose-100);
  position: absolute;
  top: 26px;
  left: 418px;
  border-radius: var(--br-6xl);
  box-sizing: border-box;
  width: 402px;
  height: 49px;
  padding: 13.700000000000045px 15.600000000000364px 16.299999999999955px;
  color: var(--color-gray-300);
}
.nav-child8 {
  position: absolute;
  top: 30.8px;
  left: 1277.5px;
  width: 37.5px;
  height: 40.2px;
  object-fit: cover;
}
.trendingoutfits10 {
  position: absolute;
  top: 10px;
  left: 88px;
  display: inline-block;
  font-weight: 700;
  width: 199px;
  height: 30px;
}
.image-22-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  height: 76.9px;
  object-fit: cover;
  mix-blend-mode: linear-burn;
}
.bell-icon5,
.trendingoutfits-parent2 {
  position: absolute;
  top: 25px;
  left: 14px;
  width: 287px;
  height: 76.9px;
}
.bell-icon5 {
  top: 22.6px;
  left: 1202.5px;
  width: 52.8px;
  height: 56.5px;
  object-fit: contain;
}
.image-315 {
  text-decoration: none;
  position: absolute;
  top: 31px;
  left: 1150.7px;
  width: 29.9px;
  height: 33px;
  background-image: url(./public/image-315@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.frame16,
.nav5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1370px;
  height: 102px;
}
.nav5 {
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}
.frame16 {
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-indianred-100);
  font-family: var(--font-inter);
}
.contact {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1450px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
  font-family: var(--font-mulish);
}
