@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 736px;
  height: 790.4px;
  object-fit: cover;
}
.adans-libas-marguerite {
  margin: 0;
}
.adans-libas-marguerite-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-weight: 300;
  width: 508px;
  height: 88px;
}
.buy {
  position: relative;
  font-size: var(--font-size-base-4);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 39.3px;
  height: 20.2px;
  flex-shrink: 0;
}
.buy-wrapper {
  cursor: pointer;
  border: 0;
  padding: 9.596273422241211px 34.54658508300781px;
  background-color: var(--color-mistyrose-100);
  position: absolute;
  top: 473px;
  left: 139px;
  border-radius: 9.6px;
  width: 193.1px;
  height: 95.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.buy-wrapper:active {
  background-color: #d47373;
}
.adans-libas-marguerite-formal-parent,
.group-child22 {
  position: absolute;
  top: 159px;
  left: 818.6px;
  width: 508px;
  height: 568.8px;
}
.group-child22 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 360px;
  height: 102px;
}
.product-description {
  position: absolute;
  top: 35px;
  left: 19px;
  font-size: var(--font-size-7xl-8);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.rectangle-parent22 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 278px;
  left: 893.6px;
  width: 360px;
  height: 102px;
}
.rectangle-parent22:active {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.group-child23 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 497.3px;
  height: 101.9px;
}
.add-to-cart1 {
  position: absolute;
  top: 34.7px;
  left: 134.8px;
  display: inline-block;
  width: 204.5px;
  height: 32.6px;
}
.rectangle-parent23 {
  text-decoration: none;
  position: absolute;
  top: 450.6px;
  left: 817.3px;
  width: 497.3px;
  height: 101.9px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-7xl-8);
  color: inherit;
}
.rectangle-parent23:hover {
  animation: 1s ease 0s infinite normal none shadow-pop-tr;
  opacity: 1;
}
.group-parent4 {
  position: absolute;
  top: 139px;
  left: 1.4px;
  width: 1326.6px;
  height: 790.4px;
}
.customers-who-saw {
  position: absolute;
  top: 0;
  left: 146.6px;
  font-weight: 600;
}
.group-child24 {
  position: absolute;
  top: 215.3px;
  left: 0;
  width: 1155.6px;
  height: 27px;
  object-fit: cover;
}
.group-child25 {
  position: absolute;
  top: 0;
  left: 19.8px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.25);
  width: 203.9px;
  height: 216.2px;
}
.dress10,
.rp1200004 {
  position: absolute;
  top: 166.3px;
  left: 32.4px;
}
.rp1200004 {
  left: 139.4px;
  color: var(--color-deepskyblue);
}
.image-42-icon {
  position: absolute;
  top: 13.2px;
  left: 0;
  width: 231px;
  height: 142px;
  object-fit: cover;
}
.group-child26,
.rectangle-parent24 {
  position: absolute;
  top: 0;
  left: 224.9px;
  width: 231px;
  height: 216.2px;
}
.group-child26 {
  left: 13.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.25);
  width: 203.9px;
}
.image-41-icon {
  position: absolute;
  top: 11.2px;
  left: 0;
  width: 231px;
  height: 141px;
  object-fit: cover;
}
.orphic-graphite {
  position: absolute;
  top: 155.2px;
  left: 41px;
  display: inline-block;
  width: 64px;
}
.rp90000 {
  position: absolute;
  top: 166.2px;
  left: 141px;
  color: var(--color-deepskyblue);
}
.group-child27,
.rectangle-parent25 {
  position: absolute;
  top: 0;
  left: 475.9px;
  width: 231px;
  height: 216.2px;
}
.group-child27 {
  left: 13.4px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.25);
  width: 203.9px;
}
.dress11,
.rp125000 {
  position: absolute;
  top: 166.3px;
  left: 25.9px;
}
.rp125000 {
  left: 133px;
  color: var(--color-deepskyblue);
}
.group-child28,
.rectangle-parent26 {
  position: absolute;
  top: 0;
  left: 720.9px;
  width: 231px;
  height: 216.2px;
}
.group-child28 {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.25);
  width: 203.9px;
}
.image-40-icon {
  position: absolute;
  top: 13.2px;
  left: 51.9px;
  width: 97px;
  height: 139px;
  object-fit: cover;
}
.rp96000,
.suit {
  position: absolute;
  top: 166.3px;
  left: 12.6px;
}
.rp96000 {
  left: 119.6px;
  color: var(--color-deepskyblue);
}
.group-parent5,
.rectangle-parent27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 203.9px;
  height: 216.2px;
}
.group-parent5 {
  top: 120.7px;
  left: 108.9px;
  width: 951.9px;
  text-align: left;
  font-size: var(--font-size-base);
}
.customers-who-saw-this-product-parent {
  position: absolute;
  top: 982.1px;
  left: 142.2px;
  width: 1155.6px;
  height: 336.8px;
  font-size: 39px;
}
.footer-child3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1271.1px;
  height: 383px;
}
.about-trendingoutfitscom5,
.service5 {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.service5 {
  bottom: 89.4px;
  left: 468.8px;
  font-size: var(--font-size-lg-8);
  color: var(--color-black);
  width: 90.1px;
  height: 31.5px;
}
.about-trendingoutfitscom5 {
  bottom: 37.3px;
  left: 678.2px;
  width: 224px;
  height: 25.9px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.instagram5,
.privacy-policy5,
.products5,
.support5 {
  position: absolute;
  bottom: 42.4px;
  left: 468.8px;
  text-transform: capitalize;
  display: inline-block;
  width: 115.5px;
  height: 25.9px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.instagram5,
.privacy-policy5,
.support5 {
  bottom: 30.8px;
  left: 970px;
  width: 95.7px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.privacy-policy5,
.support5 {
  bottom: 0.1px;
  left: 678.2px;
  width: 218.8px;
}
.contact-us8,
.facebook5,
.follow-us-on5,
.support5 {
  bottom: 0;
  left: 469.7px;
  width: 103.3px;
}
.facebook5,
.follow-us-on5,
.support5 {
  bottom: 0.1px;
  left: 970.4px;
  width: 70.9px;
}
.follow-us-on5,
.support5 {
  bottom: 89.1px;
  left: 678.2px;
  font-size: var(--font-size-lg-8);
  color: var(--color-black);
  width: 112px;
  height: 31.5px;
}
.follow-us-on5 {
  bottom: 89.4px;
  left: 970px;
  width: 159.3px;
}
.group-child29 {
  position: absolute;
  bottom: 168.1px;
  left: -0.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1428.5px;
  height: 1px;
}
.for-yout-daily4 {
  position: absolute;
  bottom: 0;
  left: 9.7px;
  text-transform: capitalize;
  display: inline-block;
  width: 180.1px;
  height: 33.5px;
}
.trendingoutfits-wrapper2,
.trendingoutfits9 {
  position: absolute;
  left: 0;
  width: 176.1px;
  height: 62px;
}
.trendingoutfits9 {
  bottom: 0;
  display: inline-block;
  font-weight: 600;
}
.trendingoutfits-wrapper2 {
  bottom: 24.5px;
  text-align: center;
  font-size: var(--font-size-xl-5);
  color: var(--color-indianred-200);
  font-family: var(--font-inter);
}
.for-yout-daily-outfit-parent2 {
  position: absolute;
  bottom: 27.2px;
  left: 132.5px;
  width: 189.8px;
  height: 86.5px;
  font-size: var(--font-size-lg-8);
  color: var(--color-black);
}
.service-parent3 {
  position: absolute;
  bottom: 146.7px;
  left: 0;
  width: 1427.5px;
  height: 168.6px;
}
.image-21-icon5 {
  position: absolute;
  top: 108.1px;
  left: 41.5px;
  width: 77.7px;
  height: 90.9px;
  object-fit: cover;
  mix-blend-mode: linear-burn;
}
.footer5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1427.5px;
  height: 383px;
  text-align: left;
  font-size: var(--font-size-base-4);
  color: var(--color-darkslategray);
  font-family: var(--font-mulish);
}
.nav-child5 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  width: 1338px;
  height: 101.8px;
  z-index: 0;
}
.nav-child6 {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: var(--color-mistyrose-100);
  position: absolute;
  margin: 0 !important;
  top: 26.3px;
  left: 416px;
  border-radius: var(--br-6xl);
  width: 361.8px;
  height: 49.2px;
  padding: 13.699999999999818px 15.600000000000364px var(--padding-base-5);
  box-sizing: border-box;
  color: var(--color-gray-300);
  z-index: 1;
}
.image-20-icon4 {
  position: relative;
  width: 71.8px;
  height: 76px;
  object-fit: cover;
  mix-blend-mode: linear-burn;
  z-index: 0;
}
.trendingoutfits10 {
  position: absolute;
  margin: 0 !important;
  top: 23px;
  left: 64.3px;
  display: inline-block;
  font-weight: 700;
  width: 212.3px;
  height: 30px;
  flex-shrink: 0;
  z-index: 1;
}
.image-20-parent1 {
  margin: 0 !important;
  position: absolute;
  top: 12px;
  left: 13px;
  width: 279.8px;
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 2;
}
.image-314 {
  text-decoration: none;
  position: relative;
  width: 29.8px;
  height: 33px;
  background-image: url(./public/image-31@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.ellipse-stroke-icon4 {
  position: absolute;
  top: 9.9px;
  left: 13.2px;
  width: 10.6px;
  height: 11.4px;
  object-fit: cover;
}
.group-child30 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 37.3px;
  height: 40.2px;
}
.ellipse-2-stroke4 {
  position: absolute;
  top: 19px;
  left: 8.6px;
  width: 19.7px;
  height: 10.6px;
  object-fit: cover;
}
.ellipse-stroke-parent2 {
  text-decoration: none;
  position: relative;
  width: 37.3px;
  height: 40.2px;
  cursor: pointer;
}
.ellipse-stroke-parent2:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.image-31-parent1,
.nav4 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-31-parent1 {
  margin: 0 !important;
  top: 31px;
  left: 1144.7px;
  width: 95px;
  height: 40.2px;
  flex-direction: row;
  gap: var(--gap-9xl);
  z-index: 3;
}
.nav4 {
  top: 0;
  left: 0;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.navigation-bar3 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 1438px;
  height: 102px;
  font-size: var(--font-size-xl);
  color: var(--color-indianred-100);
}
.product {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1754px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lgi-2);
  color: var(--color-black);
  font-family: var(--font-inter);
}
